<!--The content below is only a placeholder and can be replaced.-->
<div class="main">
  <div class="menu">
    <ul>
      <li><a href="/files">files</a></li>
      <li><a href="/sharing">sharing</a></li>
      <li><a href="/photos">photos</a></li>
      <li><a href="/links">links</a></li>
      <li><a href="/events">events</a></li>
      <li><a href="/started">get started</a></li>

    </ul>
    <br>
    <span class="size">size: {{size}}</span>

  </div>

  <div class="content">
    <h2>
      Innovecs dropbox
    </h2>
    <router-outlet></router-outlet>

  </div>
  <div style="clear:both;"></div>
</div>


