html, body, .main, .menu,.content {
  box-sizing: border-box;
  height: 100%;
}
html, body, .main, .menu {

}
.menu {
  position: fixed;
  float: left;
  width: 14%;
  background-color: cornflowerblue;
}
.size {
  position: absolute;
  bottom: 10px;
}

.content {
  float: left;
  margin-left: 15%;
  width: 86%;
}
